/* CARD */
/* .card {
    background-color: transparent;
    width: 64rem;
    height: 64rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  } */


.underline-title-detail {
  padding-bottom: 5px;
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ff0000, #ffffff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 8.5% 3px;
  transition: background-size .2s ease-in-out;
}


.Button-ds {
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .08125rem;
  line-height: 1.125;
  margin: 0;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  transition: transform .3s;
}